In [17]:
import pandas as pd

In [18]:
!ls

Dec22DT_toDropDuplicates.csv
Dec22DT_TOTAL_CurrentPenalty_master.csv
Fines_DollarTree-AfterDropDuplicatestoEnd.ipynb
Fines_DollarTree-toDropDuplicates.ipynb

In [19]:
df = pd.read_csv("Dec22DT_toDropDuplicates.csv")

In [20]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Keywords,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1616331.015,08/22/2022,453720,NC,Complaint,Partial,5331.0,452990,6,...,NaN,NaN,Current Penalty,$0,$0,"$42,000",$0,$0,"$42,000",1616331.015
1,1,1618010.015,08/10/2022,316400,WV,Complaint,Partial,NaN,452319,1,...,NaN,NaN,Current Penalty,"$6,215",$0,$0,$0,$0,"$6,215",1618010.015
2,2,1612868.015,08/05/2022,953210,NV,Referral,Partial,NaN,452319,1,...,NaN,NaN,Current Penalty,"$2,245",$0,$0,$0,$0,"$2,245",1612868.015
3,3,1611611.015,08/01/2022,1054111,OR,Complaint,Partial,5331.0,452990,5,...,NaN,NaN,Current Penalty,$0,$0,"$33,000",$0,$0,"$33,000",1611611.015
4,4,1610668.015,07/27/2022,1054111,OR,Complaint,Partial,5331.0,452990,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1610668.015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,552,1184357.015,10/18/2016,355124,VA,Complaint,Partial,NaN,452990,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1184357.015
518,553,1173557.015,08/24/2016,627100,AR,Complaint,Partial,NaN,493110,1,...,NaN,NaN,Current Penalty,"$12,471",$0,$0,$0,$0,"$12,471",1173557.015
519,554,1168125.015,08/05/2016,419400,MS,Complaint,Partial,NaN,452112,1,...,NaN,NaN,Current Penalty,"$2,526",$0,$0,$0,$0,"$2,526",1168125.015
520,555,1144592.015,04/29/2016,215800,NY,Referral,Complete,NaN,493110,4,...,NaN,NaN,Current Penalty,"$18,707",$0,$0,$0,$0,"$18,707",1144592.015
521,556,1133313.015,03/16/2016,112300,RI,Complaint,Partial,NaN,452990,3,...,NaN,NaN,Current Penalty,"$6,545",$0,$0,"$2,380",$0,"$8,925",1133313.015

In [21]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [22]:
df['simple_year'] = df['year'].dt.year

In [23]:
df.Total = df.Total.astype(str)

In [24]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_12172\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [25]:
df.Total = df.Total.str.replace(",", "")

In [26]:
df.Total = df.Total.astype(int)

In [27]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [28]:
dgfines_df

simple_year
2010     131663
2011     190012
2012      14185
2013     407970
2014     466860
2015     480696
2016     685125
2017     838270
2018    1958456
2019    6073918
2020    2249498
2021    1669663
2022    3270477
Name: Total, dtype: int32

In [29]:
new_df = dgfines_df.to_frame(name='fines')

In [30]:
new_df

               fines
simple_year
2010          131663
2011          190012
2012           14185
2013          407970
2014          466860
2015          480696
2016          685125
2017          838270
2018         1958456
2019         6073918
2020         2249498
2021         1669663
2022         3270477

In [31]:
new_df.to_csv('Dec22DT_Final_CurrentPenalty.csv', index=False)

In [32]:
!ls

Dec22DT_Final_CurrentPenalty.csv
Dec22DT_toDropDuplicates.csv
Dec22DT_TOTAL_CurrentPenalty_master.csv
Fines_DollarTree-AfterDropDuplicatestoEnd.ipynb
Fines_DollarTree-toDropDuplicates.ipynb