In [5]:
import pandas as pd

In [6]:
!ls

Dec22DG_TOTAL_INITIALPENALTYmaster.csv
Dec22DGINITIAL_toDropDuplicates.csv
InitialPenalties_DG-AfterDropDuplicatestoEnd.ipynb
InitialPenalties_DG-toDropDuplicates.ipynb
Joining_dfs_DG-Initial-Penalty.ipynb

In [7]:
df = pd.read_csv("Dec22DGINITIAL_toDropDuplicates.csv")

In [8]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Keywords,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1.619753e+06,09/06/2022,452110,KY,Complaint,Partial,4225.0,493110,2,...,NaN,NaN,Initial Penalty,$0,"$140,000",$0,$0,$0,"$140,000",1.619753e+06
1,1,1.617010e+06,08/25/2022,552652,MI,Complaint,Partial,NaN,452319,1,...,NaN,NaN,Initial Penalty,$0,$0,$0,$0,$0,$0,1.617010e+06
2,2,1.609906e+06,07/25/2022,454716,TN,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Initial Penalty,$0,$0,"$7,500",$0,$0,"$7,500",1.609906e+06
3,3,1.607451e+06,07/13/2022,418100,GA,Complaint,Partial,NaN,445110,1,...,NaN,NaN,Initial Penalty,"$5,283",$0,$0,$0,$0,"$5,283",1.607451e+06
4,4,1.601808e+06,06/14/2022,418400,GA,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Initial Penalty,$0,$0,"$290,054",$0,$0,"$290,054",1.601808e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,387,1.079844e+06,07/23/2015,419700,FL,Complaint,Partial,NaN,452990,2,...,NaN,NaN,Initial Penalty,"$6,000",$0,$0,$0,$0,"$6,000",1.079844e+06
234,388,1.083884e+06,07/20/2015,418300,AL,Referral,Partial,NaN,452910,1,...,NaN,NaN,Initial Penalty,"$6,000",$0,$0,$0,$0,"$6,000",1.083884e+06
235,389,1.062209e+06,05/11/2015,729300,MO,Complaint,Partial,NaN,452112,2,...,NaN,NaN,Initial Penalty,$0,$0,"$55,000","$1,100",$0,"$56,100",1.062209e+06
236,390,3.167852e+08,08/14/2013,453710,NC,Complaint,Partial,5331.0,452990,2,...,NaN,Health-Manufacturing,Initial Penalty,$0,$0,$0,$0,$0,$0,3.167852e+08
237,391,3.140213e+08,01/14/2010,453730,NC,Planned,Complete,5311.0,452112,6,...,NaN,Safety-Manufacturing,Initial Penalty,"$2,750",$0,$0,$0,$0,"$2,750",3.140213e+08

In [9]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [10]:
df['simple_year'] = df['year'].dt.year

In [11]:
df.Total = df.Total.astype(str)

In [12]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_12452\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [13]:
df.Total = df.Total.str.replace(",", "")

In [14]:
df.Total = df.Total.astype(int)

In [16]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [17]:
dgfines_df

simple_year
2010      51405
2011      84350
2012      49075
2013     131985
2014     410370
2015     945435
2016    1536177
2017     373261
2018     334176
2019     482952
2020    1886276
2021    2842231
2022    7159012
Name: Total, dtype: int32

In [18]:
new_df = dgfines_df.to_frame(name='InitialFines')

In [19]:
new_df

             InitialFines
simple_year
2010                51405
2011                84350
2012                49075
2013               131985
2014               410370
2015               945435
2016              1536177
2017               373261
2018               334176
2019               482952
2020              1886276
2021              2842231
2022              7159012

In [20]:
new_df.to_csv('Dec22DG_Final_InitialPenalty.csv', index=False)

In [21]:
!ls

Dec22DG_Final_InitialPenalty.csv
Dec22DG_TOTAL_INITIALPENALTYmaster.csv
Dec22DGINITIAL_toDropDuplicates.csv
InitialPenalties_DG-AfterDropDuplicatestoEnd.ipynb
InitialPenalties_DG-toDropDuplicates.ipynb
Joining_dfs_DG-Initial-Penalty.ipynb